 header h1 {
   position: absolute;
	font-weight: bold;
	font-size: 40px;
	color: black;
}
/*<<<<<<< HEAD
body h2{
	font-style: 30px;
}*/
=======
/*body h2{
	font-style: 30px;
}*//*
>>>>>>> ccbf03d8fb5e839272630b5e6895d5800085e713
*/body  h4 , h5 , h6{
	font-size: 20px;
	color: black;
}

body h7 {
		font-size: 15px;
		color: grey;
}

#one {
    width:15%;
    height:200px;
    float:left;
}

#two {
    width:85%;
    height:200px;
    float:left;
}




