body{
background-image: url(../assets/index.jpeg);
   background-size:cover;
   background-repeat:no-repeat;
   height: 120%;
   width: 100%;
   }

.btn1{
   float: left;
    width: 25%; 
    height: 10%;
}

.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}
.list-group-item{
    font-family: "Courier New", Courier, monospace;
}

.footer {
  /*position: relative;*/
  margin-top: 60%;  
  /*margin-bottom: 5%;*/
  height:100px;
  clear:both;
  padding-top:10px;
 font-size:48px;
 color:red;
 padding-left: 5%;
 /*background-color: black;*/
  
} 
.contact{
  margin-left: 5%;
  position: absolute;
  
}

.h{
  font-weight: bold;
  font-size: 150%;
  /*font-style: oblique;*/
  /*font-family: Arial, Helvetica, sans-serif;*/
  color: #660033;
}

.a1{
  font-weight: bold;
  font-size: 120%;
  /*font-style: oblique;*/
  /*font-family: Arial, Helvetica, sans-serif;*/
  color: white;
}
.year{
   font-weight: bold;
  font-size: 150%;
  /*font-style: oblique;*/
  /*font-family: Arial, Helvetica, sans-serif;*/
  color: #660033;
