<!-- <<<<<<< HEAD -->
<div class="container">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="assets/Home.jpg" width="460" height="345">
      </div>

      <div class="item">
        <img src="assets/hotel.jpg" width="460" height="345">
      </div>
    
      <div class="item">
        <img src="assets/index.jpeg" width="460" height="345">
      </div>

      <div class="item">
        <img src="assets/plane.jpg" width="460" height="345">
      </div>

       <div class="item">
        <img src="assets/em.jpg"  width="460" height="345">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <br><br>
  <div id="sectionHomeArticle">

<div class="section homeArticle">
<div class="mainWrapper">
<table>
<tbody><tr>
<td>
<div class="textHolder">
      <h3>Emirates flies to Cebu and Clark, Philippines</h3>
      <p>From 30 March 2016, we will launch a daily circular service from Dubai to Cebu and Clark in the Philippines. This is in addition to flights from Dubai to Manila.</p>
</div>
</td>
<td>
<a ><img title="" src="assets/img1.jpg" alt="undefined"></a>
</td>
</tr>
</tbody></table>
</div>
 </div>
<br><br>
 <div class="section homeArticle">
<div class="mainWrapper">
<table>
<tbody><tr>
<td>
<div class="textHolder">
    <h3>Emirates flies to Yinchuan and Zhengzhou, China</h3>
    <p>From 3 May 2016, we will begin four weekly flights to Yinchuan and Zhengzhou, two of China’s fastest growing cities. This is in addition to flights from Dubai to Beijing, Guangzhou and Shanghai in mainland China.</p>
    
</div>
</td>
<td>
<a><img title="" src="assets/img2.jpg" alt=""></a>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
<!-- </div>
 -->
<!-- ======= -->

        <div class="row mar-bot40">
          <div class="col-md-offset-3 col-md-6">
            <div class="section-header">
              <h2 class="section-heading animated" data-animation="bounceInUp">Book A Flight</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="cform" id="contact-form">
              <div id="sendmessage">
                 Your message has been sent. Thank you!
              </div>
              <form action="contact/contact.php" method="post" role="form" class="contactForm">
              <div class="wow bounceIn">
                <div class="form-group">
                <label for="name">Your Name</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="maxlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
                </div>
                <div class="form-group">
                <label for="email">Your Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
                </div>
                <div class="form-group">
                <label for="subject">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="maxlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
                </div>
                <div class="form-group">
                <label for="message">Message</label>
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
                <div class="validation"></div>
                </div>
              </div>
                <button type="submit" class="line-btn green">SEND MESSAGE</button>
              </form>

            </div>
          </div>
          <!-- ./span12 -->
        </div>          
<!-- >>>>>>> ccbf03d8fb5e839272630b5e6895d5800085e713 -->
