
<!-- <body ng-app='myApp' ng-controller = 'myCtrl'> -->
<div class="container"style="/*float: right;*/ width: 40%;padding-top: 50px">
<div class="panel panel-default" >
<div class="panel-body">
<form class="form-horizontal" name="myForm"  ng-submit="doSubmit()">
<fieldset style="padding-top: 50px">
 <!--  <h1 style=" font-size: 50px; color: black;
    font-family: "Courier New", Courier, monospace;">Ticket</h1>
 -->
<!-- Search input-->
<div class="form-group" >
  <label class="col-md-4 control-label" for="searchinput">From :</label>
  <div class="col-md-5">
    <input type="text" ng-model="Selected1" uib-typeahead="states for states in states| filter:$viewValue|limitTo:8" class="form-control" placeholder="Departing from" required="" name = "departure"> 
    <span ng-show="myForm.departure.$touched &&myForm.departure.$invalid " class="text-danger">Enter a valid value.</span>
  </div>
</div>

<!-- Search input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="searchinput">To :</label>
  <div class="col-md-5">
       <input type="text" ng-model="Selected" uib-typeahead="states for states in states| filter:$viewValue|limitTo:8" class="form-control" placeholder="Arriving at"required="" name = "arrival">
     <span ng-show="myForm.arrival.$touched &&myForm.arrival.$invalid " class="text-danger">Enter a valid value.</span>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Cabin:</label>
  <div class="col-md-4">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="1"EA>Economy</option>
      <option value="2">Business</option>
      <option value="3">First</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="searchinput">Departure Date :</label>
  <!-- <div class="col-md-5">
    <input id="searchinput" name="searchinput"  class="form-control input-md"  type="date">
  </div> -->

 <div class="row">
                  <div class="col-md-6">
                    <p class="input-group">
                      <input type="text"
                             class="form-control"
                             uib-datepicker-popup="{{format}}"
                             ng-model="dt"
                             is-open="popup1.opened"
                             ng-required="true"
                             close-text="Close"
                             name = "hi"
                             alt-input-formats="altInputFormats" required="" />
                               <span ng-show="myForm.hi.$touched &&myForm.hi.$invalid " class="text-danger">Enter a valid value.</span>
                      <span class="input-group-btn">
                        <button type="button"
                                class="btn btn-default"
                                ng-click="open1()" >
                                <i class="glyphicon glyphicon-calendar"></i>
                       </button>
                      </span>
                    </p>
                  </div>
                  </div>
</div>

<div class="form-group" id="1"  ng-show="!showDiv">
<!-- <<<<<<< HEAD -->
  <!-- <label class="col-md-4 control-label" for="searchinput" >Arriving Date :</label> -->
<!-- ======= -->
  <label class="col-md-4 control-label" for="searchinput" >Return Date :</label>
<!-- >>>>>>> ccbf03d8fb5e839272630b5e6895d5800085e713 -->
  <!-- <div class="col-md-5">
    <input  name="searchinput" class="form-control input-md" type="text">
  </div> -->
  <div class="row">
                  <div class="col-md-6">
                    <p class="input-group">
                      <input type="text"
                             class="form-control"
                             uib-datepicker-popup="{{format}}"
                             ng-model="dt"
                             is-open="popup2.opened"
                             ng-required="true"
                             close-text="Close"
                             name="hi2" 
                             alt-input-formats="altInputFormats" />
                               <span ng-show="myForm.hi2.$touched &&myForm.hi2.$invalid " class="text-danger">Enter a valid value.</span>
                      <span class="input-group-btn">
                        <button type="button"
                                class="btn btn-default"
                                ng-click="open2()">
                                <i class="glyphicon glyphicon-calendar"></i>
                       </button>
                      </span>
                    </p>
                  </div>
                  </div>
</div>


<!-- Multiple Checkboxes (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="checkboxes"></label>
  <div class="col-md-4">
    <label class="checkbox-inline" for="checkboxes-0">
      <input name="checkboxes" id="checkboxes-0"  ng-click="showDiv = !showDiv" value="1" type="checkbox">
      One Way
    </label>
  </div>
</div>

<!-- Button -->
  <a href="#single" >
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <div id="singlebutton" name="singlebutton" class="btn btn-primary"> Search
    </div>
  </div>
</div>
</a>

</div>
</div>



</fieldset>
</form>
</div>
</div>
</div>
<script>
.btn btn-primary a {
    display: block;
    width: 100%;
    line-height: 50px;
}
</script>
<!-- </body> -->

