<div class="container"style="/*float: right;*/ width: 80%;padding-top: 70px">
  <div class="panel panel-default" >
    <div class="panel-body">
     <h1> flights from {{ flight.from }} to {{ flight.to }} </h1>
     <div class="container">
      <div class="row seven-cols">
        <div class="col-md-1">
          <div class="checkbox">
            <label>
              <input type="checkbox"> 4/4/2016 </label>
            </div>
          </div>
          <div class="col-md-1">
            <div class="checkbox">
              <label>
                <input type="checkbox"> 5/4/2016 </label>
              </div>
            </div>
            <div class="col-md-1">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> 6/4/2016 </label>
                </div>
              </div>
              <div class="col-md-1">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> 7/4/2016 </label>
                  </div>
                </div>
                <div class="col-md-1">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> 8/4/2016 </label>
                    </div>
                  </div>
                  <div class="col-md-1">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> 9/4/2016 </label>
                      </div>
                    </div>
    <!-- <div class="col-md-1">
    <div class="checkbox">
      <label>
      <input type="checkbox"> 10/4/2016</label>
    </div></div> -->
  </div>
</div>

<div class="container">
  <div class="row seven-cols-1">
    <div class="col-md-2">
      <div class="checkbox">
        <label>
         <div>{{ flight.from }}</div> 
         <div>from {{ departureairport }}</div> 
         <div>at {{ departuretime }}</div> </label>
       </div>
     </div>
     <div class="col-md-2">
      <div class="checkbox">
        <label>
         <div>{{ flight.to }}</div> 
         <div>from {{ arrivalairport }}</div> 
         <div>at {{ arrivaltime }}</div> </label>
       </div>
     </div>
     <div class="col-md-2">
      <div class="checkbox">
        <label>
         <div>STOPS: {{ stops }}</div> 
         <div>Tranzit {{ tranzit }}</div> 
       </label>
     </div>
   </div>
   <div class="col-md-2">
    <div class="checkbox">
      <label>
       <button type="button" class="btn btn-link"> more details</button>
     </label>
   </div>
 </div>
</div>
</div>
<h2>
  <a href="#/choose">
    <button type="button" ng-click="choose" class="btn btn-primary" >choose</button>
  </a>
</h2>
</div>
</div>
</div>



<div class="container"style="/*float: right;*/ width: 80%;padding-top: 70px">
  <div class="panel panel-default" >
    <div class="panel-body">
     <h1> flights from {{ flight.to }} to {{ flight.from }} </h1>
     <div class="container">
      <div class="row seven-cols">
        <div class="col-md-1">
          <div class="checkbox">
            <label>
              <input type="checkbox"> 4/4/2016 </label>
            </div>
          </div>
          <div class="col-md-1">
            <div class="checkbox">
              <label>
                <input type="checkbox"> 5/8/2016 </label>
              </div>
            </div>
            <div class="col-md-1">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> 6/4/2016 </label>
                </div>
              </div>
              <div class="col-md-1">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> 7/4/2016 </label>
                  </div>
                </div>
                <div class="col-md-1">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> 8/4/2016 </label>
                    </div>
                  </div>
                  <div class="col-md-1">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> 9/4/2016 </label>
                      </div>
                    </div>
    <!-- <div class="col-md-1">
    <div class="checkbox">
      <label>
      <input type="checkbox"> 10/4/2016</label>
    </div></div> -->
  </div>
</div>

<div class="container">
  <div class="row seven-cols-1">
    <div class="col-md-2">
      <div class="checkbox">
        <label>
         <div>{{ flight.from }}</div> 
         <div>from {{ departureairport }}</div> 
         <div>at {{ departuretime }}</div> </label>
       </div>
     </div>
     <div class="col-md-2">
      <div class="checkbox">
        <label>
         <div>{{ flight.to }}</div> 
         <div>from {{ arrivalairport }}</div> 
         <div>at {{ arrivaltime }}</div> </label>
       </div>
     </div>
     <div class="col-md-2">
      <div class="checkbox">
        <label>
         <div>STOPS: {{ stops }}</div> 
         <div>Tranzit {{ tranzit }}</div> 
       </label>
     </div>
   </div>
   <div class="col-md-2">
    <div class="checkbox">
      <label>
       <button type="button" class="btn btn-link"> more details</button>
     </label>
   </div>
 </div>
</div>
</div>
<h2>
  <a href="#/choose">
    <button type="button" class="btn btn-primary" >choose</button>
  </a>
</h2>
</div>
</div>
</div>