<style >
  .panel { background: rgba(245, 245, 245, 0.6);color:black;border:0;}
  .form-control{width: 20%;display: inline;}
  .control-label{display: inline;}
  h3{float: left;}
</style>
</style>
<br>
<br>
<br>
<div class="container" style="padding-top: 100px;">


  <div ng-model="alert" class="alert alert-danger" ng-show="show">
    <strong> Oh snap!</strong> Change a few things up and try submitting again.
  </div>
  <br>
  <br>

  <div class="panel panel-default ">

<!-- ++++++++++++++++++++++-summary-++++++++++++++++++++++++++++++++++
-->

<div >



  <button type="button" 
  class="btn"
  ng-class="{true: 'btn btn-info btn-block', false: 'btn btn-danger btn-block'}[isActive1]" ng-click="toggleActive1(); isCollapsed = !isCollapsed"
  >
  <span  ng-class="{true: 'glyphicon glyphicon-plus-sign', false: 'glyphicon glyphicon-minus-sign'}[isActive1]"></span>
  Trip summary
</button>

<div uib-collapse="isActive1">
  <div>


   <table class="table">

    <tbody>
      <tr>
        <td class="text-center">
          <br>
          <br>
          <p class="text-center">
           <strong>From </strong> <em> {{data.from}}</em> <strong>to</strong> <em>{{data.to}}</em>
           <br>
           <strong>Flight number: </strong><em> {{data.flightNumber}}</em>
           <br>
           <strong>Flight date: </strong><em>{{data.depatutreDate}}</em>
           <br>
           <strong>Plane: </strong><em>{{data.aircraftType}} {{data.aircraftModel}}</em>
             <br>
             <strong>Class: </strong><em>{{data.class}}</em>
               <br>
               <strong>seat: </strong><em>{{data.seatNumber}}</em>
                 <br>


               </p>

             </td>
             <td class="text-center">
               <br>
               <br>
               <p id='max' class="text-center ">

                <img src="../images/B.png" class="img-rounded" width="40" height="40" >
                <img src="../images/B.png" class="img-rounded" width="40" height="40" >
                <br>
                <br>

                <em>max weight is 23Kg per bag</em>
                <br>
                <em>overweight charge is 3$ per Kg</em>
              </p>

            </td>
          </tr>

        </tbody>
      </table>


    </div>



  </div>
</div>
</div>
<!-- <h2><em><strong>Choose a payment method</strong></em></h2>
--></div>



    <!-- ++++++++++++++++++++++-credit-++++++++++++++++++++++++++++++++++
  -->
  <div class="container"  >
    <div class="panel panel-default">


      <form name="myForm">


       <button type="button" 
       name="btn" 
       class="btn"
       ng-class="{true:'btn btn-info btn-block', false: 'btn btn-danger btn-block'}[isActive2]" 
       ng-click="toggleActive2(); isCollapsed2 = !isCollapsed2"  >

       <span ng-class="{true: 'glyphicon glyphicon-plus-sign', false: 'glyphicon glyphicon-minus-sign'}[isActive2]"></span> 
       Credit card 

     </button> 

     <div uib-collapse="isActive2">
      <div class="container">

        <div class="row"><h3>   Passenger information</h3></div>


        <div >
          <label class="control-label col-sm-2" for="fn" >First Name:</label>
          <input type="text"  class="form-control" ng-minlength=3 ng-mouseleave="check();set()" name="fn" id="fn" ng-model="data.passengerDetails.firstName" required>
          <span ng-show="myForm.fn.$touched && myForm.fn.$invalid" class="text-danger">First name is required.</span>
        </div>
        <br>
        <div  >
          <label class="control-label col-sm-2" for="ln">Last Name:</label>
          <input type="text" class="form-control" ng-minlength=3 ng-mouseleave="check();set()" id="ln" name="ln" ng-model="data.passengerDetails.lastName" required>
          <span ng-show="myForm.ln.$touched && myForm.ln.$invalid" class="text-danger">Last name is required.</span>

        </div>
        <br>

        <div  >
          <label class="control-label col-sm-2" for="email">Email:</label>
          <input type="email" class="form-control" ng-minlength=6 ng-mouseleave="check();set()" id="email" name="email" ng-model="data.passengerDetails.email" required>
          <span ng-show="myForm.email.$touched && myForm.email.$invalid" class="text-danger">Enter a vaild Email </span>

        </div>  
        <br>
<div  >
          <label class="control-label col-sm-2" for="passport">Passport:</label>
          <input type="text" class="form-control" ng-minlength=6 ng-mouseleave="check();set()" id="passport" name="passport" ng-model="data.passengerDetails.passportNum" required>
          <span ng-show="myForm.passport.$touched && myForm.passport.$invalid" class="text-danger">Enter a vaild Passport number </span>

        </div>
        <br>
      <!--   <div  >
          <label class="control-label col-sm-2" for="birth">Date of birth:</label>
          <input type="text" class="form-control" ng-minlength=6 ng-mouseleave="check();set()" id="birth" name="birth" ng-model="data.birth" required>
          <span ng-show="myForm.email.$touched && myForm.email.$invalid" class="text-danger">Enter a vaild date of birth </span>

        </div> -->

          <div class="row">
          <div class="col-sm-2"><label class="control-label " for="dob">Date of birth:</label></div>
           <div class="col-md-4"></div>
           <div class="col-md-3">
            <p class="input-group">
              <input type="text"
              class="form-control"
              id="dob" 
              name="dob" 
              uib-datepicker-popup="{{format}}"
              ng-model="data.passengerDetails.birth"
              ng-mouseleave="check();set()"
              is-open="popup2.opened"
              ng-required="true"
              close-text="Close"
              alt-input-formats="altInputFormats" />
              <span class="input-group-btn">
                <button type="button"
                class="btn btn-default"
                ng-click="open2()"
               ng-minlength=4
                ng-mouseleave="check();set()">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
        </div>
        <span ng-show="myForm.dob.$touched && myForm.dob.$invalid" class="text-danger">Date is required.</span>

      </div>


        <br>
        <div  >
          <label class="control-label col-sm-2" for="no">Phone Number:</label>
          <input type="number" class="form-control" ng-minlength=5 ng-mouseleave="check();set()" id="no" name="no" ng-model="data.passengerDetails.phone" required>
          <span ng-show="myForm.no.$touched && myForm.no.$invalid" class="text-danger">Enter a vaild phone number.</span>

        </div>
        <br>
        <hr>

        <div  >


         <div class="row"> <h3>   Cardholder's information</h3></div>
         <br>

         <div class="row">
           <div  >
            <label class="control-label col-sm-3" for="cfn">Cardholder's first name:</label>
            <input type="text" class="form-control" ng-minlength=3 ng-mouseleave="check();set()" id="fn" name="cfn" ng-model="data.cardholderFN" required>
            <span ng-show="myForm.cfn.$touched && myForm.cfn.$invalid" class="text-danger">Cardholder's first name is required.</span>


          </div>
          <br>

          <div  >
            <label class="control-label col-sm-3" for="ln">Cardholder's last name:</label>
            <input type="text" class="form-control" ng-minlength=3 ng-mouseleave="check();set()" id="ln" name="cln" ng-model="data.cardholderLN" required>
            <span ng-show="myForm.cln.$touched && myForm.cln.$invalid" class="text-danger">Cardholder's last name is required.</span>

          </div></div>

          <br>
          <hr>

          <div class="row"><h3>   Billing address</h3></div>  

          <br>


          <div >
            <label class="control-label col-sm-2" for="cn">Country:</label>
            <input type="text" class="form-control" ng-minlength=3 ng-mouseleave="check();set()" id="country" name="country" ng-model="data.passengerDetails.nationality" 
            uib-typeahead="country for country in country | filter:$viewValue | limitTo:8"
            required>
            <span ng-show="myForm.country.$touched && myForm.country.$invalid" class="text-danger">Choose a valid country.</span>



          </div>
          <br>

          <div >
            <label class="control-label col-sm-2" for="ct">City:</label>
            <input type="text" class="form-control" ng-minlength=2 ng-mouseleave="check();set()" id="ct" name="city" ng-model="data.passengerDetails.city" required>
            <span ng-show="myForm.city.$touched && myForm.city.$invalid" class="text-danger">Enter a valid city.</span>

          </div>
          <br>
          <div  >
            <label class="control-label col-sm-2" for="a1">Address 1:</label>
            <input type="text" class="form-control" ng-minlength=5 id="a1" name="a1" ng-model="data.passengerDetails.address1" required ng-mouseleave="check();set()">
            <span ng-show="myForm.a1.$touched && myForm.a1.$invalid" class="text-danger">Address is required.</span>

          </div>
          <br>

          <div  >
            <label class="control-label col-sm-2" for="a2">Address 2:</label>
            <input type="text" class="form-control"  id="a2" name="a2" ng-model="data.passengerDetails.address2">
          </div>

          <br>
          <hr>
          <div class="row"><h3>   Card information</h3></div>  
          <br>

          <div class="row" style="text-align: left;">
          <div class="col-sm-1"></div>
            We accept the following cards :
            <img src="../images/D.png" class="img-rounded" title="Diners">   
            <img src="../images/V.png" class="img-rounded" title="Visa">   
            <img src="../images/VE.png" class="img-rounded" title="Visa electron"> 
            <img src="../images/MC.png" class="img-rounded" title="Master Card"> 
            <img src="../images/A.png" class="img-rounded" title="American Express"> 
          </div>
          <br>

          <div  >
            <label class="control-label col-sm-2" for="ct">Card number:</label>
            <input type="number"  class="form-control" ng-minlength=10 ng-mouseleave="check();set()" id="CNo" placeholder="Card number" name="CNo" ng-model="data.cardCode" required>
            <span ng-show="myForm.CNo.$touched && myForm.CNo.$invalid"  class="text-danger">A valid card number is required.</span>

          </div>
          <br>

          <div  >
            <label class="control-label col-sm-2" for="ct">CVC code:</label>

            <input type="number" class="form-control" id="CVC" placeholder="CVC code" name="CVC" ng-model="data.CVC" required ng-minlength=3 ng-mouseleave="check();set()">

            <img src="../images/CVC.jpg" class="img-rounded" placeholder="CVC code" data-toggle="tooltip" title= 
            "Your security code is the last three numbers located on the back of your card. For American Express cards, it's the four digits located on the right of your card just above the main card number."> 

            <span ng-show="myForm.CVC.$touched && myForm.CVC.$invalid" class="text-danger">A valid CVC code is required.</span>

          </div>

          <br>
          <div class="row">
          <div class="col-sm-2"><label class="control-label " for="ed">Expiry date :</label></div>
           <div class="col-md-4"></div>
           <div class="col-md-3">
            <p class="input-group">
              <input type="text"
              class="form-control"
              id="ed" 
              name="date" 
              uib-datepicker-popup="{{format}}"
              ng-model="data.cardDate"
              ng-mouseleave="check();set()"
              is-open="popup1.opened"
              ng-required="true"
              close-text="Close"
              alt-input-formats="altInputFormats" />
              <span class="input-group-btn">
                <button type="button"
                class="btn btn-default"
                ng-click="open1()"
               ng-minlength=4
                ng-mouseleave="check();set()">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
        </div>
        <span ng-show="myForm.date.$touched && myForm.date.$invalid" class="text-danger">Date is required.</span>

      </div>
    </div>



  </div>

  <div class="col-md-4">  </div>

  <button type="button" 
  ng-mouseleave="check();set()"
  ng-class="{true:'btn btn-primary col-md-3', false: 'btn btn-warning col-md-3'}[cont]" 
  ng-click="Cont()" 
  > 
  Continue
</button> 
<br>
<br>
</div>

</form>
  <!--  cont:{{cont}}
  <br>
  show : {{show}} -->
</div>
</div>