<ion-view view-title="our company">
  <ion-content>
   <body ng-controller="landingCtrl">
    <ion-list>
    <h1> Contuct US </h1>

<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Your Name</span>
    <input type="text" placeholder="XXXX">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Your Email</span>
    <input type="text" placeholder="XXXX@XXXX.com">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Subject</span>
    <input type="text" placeholder="subject">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">message</span>
    <input type="text" placeholder="write something for us">
  </label>
</div>
<button class="button button-positive">
  send message
</button>

</ion-list>
  </ion-content>
</ion-view>
