<ion-view view-title="Emirates airlines">
  <ion-content class="padding">
  <body ng-controller="landingCtrl">
      <h1> Book your flight </h1>
      <div class="list">
          <label class="item item-input item-floating-label">
          <span class="input-label">From</span>
          <input type="text" placeholder="From" ng-model="landing.from"></label>

          <label class="item item-input item-floating-label">
          <span class="input-label">To</span>
          <input type="text" placeholder="To" ng-model="landing.to"></label>
      </div>

      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label"></div>
          Cabin:
          <select ng-model= "landing.cabin">
          <option selected> </option>
          <option>Economy</option>
          <option >Business</option>
          <option>First</option>
          </select>
        </label>
      </div>
      <div>
        <label class="item item-input">
          <span class="input-label">Depature Date</span>
          <input type="date"  ng-model="landing.depatutreDate">
        </label>
      </div>
      <div ng-show = "!showDiv">
        <label class="item item-input">
           <span class="input-label">Return Date:</span>
           <input type="date" ng-model="landing.returnDate">
        </label>
      </div>
      <ion-list>
            <ion-checkbox ng-init = 'OutOnly=false'ng-click="toggle()">one way</ion-checkbox>
      </ion-list>
      <ion-list>
            <ion-checkbox ng-model="filter.green" >search other airlines</ion-checkbox>
      </ion-list>
    <button  class="button button-block button-positive"  ng-click="check()">search</button>


 </ion-content>
</ion-view>
