<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="booking a flight" icon-off="ion-jet" icon-on="ion-jet" href="#/tab/landing">
    <ion-nav-view name="tab-landing"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="history" icon-off="ion-ios-paper" icon-on="ion-ios-paper" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

    <ion-tab title="offers" icon-off="ion-happy" icon-on="ion-happy" href="#/tab/landing">
    <ion-nav-view name="tab-landing"></ion-nav-view>
    </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="contact us" icon-off="ion-android-contact" icon-on="ion-android-contact" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
